@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); 

.mid{

  position: relative;


}


.mid .wrapper{
width: 100vh;
height: 68vh;
box-shadow: 10px 10px 20px black;
margin: 5rem auto;
overflow: hidden;
border-radius: 50px;
}
.mid .wrapper-holder{
  display: grid;
  
  grid-template-columns: repeat(4,100%);
  height: 100%;
  width: 100%;
  animation: slider 25s ease-in-out infinite alternate;
}

.mid #slider-img-1{
  background: url("/sliderImg/slide1.jpeg");
  background-position: center;

}
.wrapper-holder::before{
  border-radius: 50px;
}

.mid #slider-img-2{
  background: url("/sliderImg/slide2.jpeg");
  background-position: center;

}
.mid #slider-img-3{
  background: url("/sliderImg/slide3.jpeg");
  background-position: center;

}
.mid #slider-img-4{
  background: url("/sliderImg/slide4.jpeg");
  background-position: center;

}
.mid .button-holder .button{
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  display: inline-block;
  margin: 0.3rem;

}

.mid .button-holder{
  position: absolute;
  left: 47%;
  bottom:10%
}
.button:hover{
  box-shadow: 0px 0px 7px 4px rgba(0,255,255,0.6);
}

@keyframes slider {
  0%{transform: translate(0%);}
  10%{transform: translate(-100%);}
  20%{transform: translate(-100%);}
  30%{transform: translate(-200%);}
  40%{transform: translate(-200%);}
  50%{transform: translate(-200%);}
  60%{transform: translate(-300%);}
  70%{transform: translate(-300%);}
  80%{transform: translate(-300%);}
  90%{transform: translate(0%);}
  0%{transform: translate(0%);}
}





.p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
  color:aliceblue;
  font-size: 45px;
  -webkit-text-stroke: 0.1vw ;



 
  .p1{
    position: absolute;
    top: 28%;


  }
  .p2{
    position: absolute;
    bottom: 40%;
    font-size: 75px;
    -webkit-text-stroke: 0.7vw ;


  }

}

.p .p2::before{
  content: attr(data-text);
  position: absolute;
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  color:black;
  -webkit-text-stroke: 0vw #383d52;
  overflow: hidden;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0%,30%,100%
  {
    width: 0;
  }

  20%,90%
  {
    width:100%;
  }
}


@media (max-width:920px) {
  .mid {display: none;}
  
}