.video-container{
  width:70% ;
  margin:90px auto;
  position: relative;
}

.video-row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.col{
  flex-basis: 50%;
  min-width: 250px;
  // height: 750px;
}

.feature-img{
  width: 83%;
  margin: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  // margin-left: 120px;
}

.feature-img img{
  border-radius: 10px;

}
.small-img-row{
  display: flex;
  background:#efefef;
  margin: 20px 0;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  width: 70%;
  margin-left: 80px;
}

.small-img{
  position: relative;
}
.small-img img{
  width: 150px;
}

.small-img-row p{
  margin-left: 20px;
  line-height: 22px; 
  font-size: 25px;
}
.play-btn{
width: 60px;
position: absolute;
left: 50%;
top:50%;
transform: translate(-50%,-50%);
cursor: pointer;
border: none;
color:black;
background: transparent;
font-size: 50px;
}

.small-img .play-btn{
width: 28px;
font-size: 35px;
}


.video-player{
  width: 80%;
  position: absolute;
left: 50%;
top:40%;
transform: translate(-50%,-50%);
display: none;

}
video:focus{
  outline: none;
}
.close-btn{
  position: absolute;
  top: 5px;
  right: 35px;
  width: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 40px;
}

@media screen and (max-width:710px) {
  .video-row .col {
    min-width: 450px;
  }
}
@media screen and (max-width:450px) {
  .video-row .col .feature-img {
    margin-left: 0px;
    width: 300px;
    border-radius: 10px;
  }
  .small-img-row{
    margin-left: 0px;
  }

}